In [19]:
# Import the dependencies

from sqlalchemy import create_engine, text, Column, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from datetime import date

import os
import pandas as pd

In [20]:
def LoadCountryData():
    #Load your PostGres database
    userName = "postgres"
    password = "postgres" #use your postgres password if you changed it
    database = "COVID-19 Data" #you can use any db you want, I just happened to use this one

    engine = create_engine(f"postgresql+psycopg2://{userName}:{password}@localhost:5432/{database}")

    conn = engine.connect()

    #Pull the data into pandas. We are filtering by the period    
    try:
        # Query Records for Countries in the the Database
        query_country = text("SELECT * FROM Countries")
        countries_df = pd.read_sql(query_country, conn)

    except:
        print("No data Available")
        
    return countries_df

In [21]:
def LoadCaseData():
    #Load your PostGres database
    userName = "postgres"
    password = "postgres" #use your postgres password if you changed it
    database = "COVID-19 Data" #you can use any db you want, I just happened to use this one

    engine = create_engine(f"postgresql+psycopg2://{userName}:{password}@localhost:5432/{database}")

    conn = engine.connect()

    #Pull the data into pandas. We are filtering by the period    
    try:
        # Query Records for Cases in the Database
        query_cases = text("SELECT * FROM Cases")
        cases_df = pd.read_sql(query_cases, conn)

    except:
        print("No data Available")
        
    return cases_df

In [22]:
def LoadVaxData():
    #Load your PostGres database
    userName = "postgres"
    password = "postgres" #use your postgres password if you changed it
    database = "COVID-19 Data" #you can use any db you want, I just happened to use this one

    engine = create_engine(f"postgresql+psycopg2://{userName}:{password}@localhost:5432/{database}")

    conn = engine.connect()

    #Pull the data into pandas. We are filtering by the period    
    try:
        # Query Records for Cases in the Database
        query_vax = text("SELECT * FROM Cases")
        vaccination_df = pd.read_sql(query_vax, conn)

    except:
        print("No data Available")
        
    return vaccination_df

In [23]:
 #Create a base class for declarating class definitions to produce Table objects
Base = declarative_base()

class Countries(Base): 
    __tablename__ = "Countries"

    Country = Column(String, primary_key=True)
    WHO_Region = Column(String)

class Cases(Base): 
    __tablename__ = "Cases"

    Country = Column(String)
    WHO_Region = Column(String)
    Cases_Cumulative_Total = Column(Integer)
    New_Cases_Last_7_Days = Column(Integer)
    Deaths_Cumulative_Total = Column(Integer)
    New_Deaths_Last_7_Days = Column(Integer)
    Case_ID = Column(Integer, primary_key=True)

class Vaccination(Base): 
    __tablename__ = "Vaccinations"

    Country = Column(String)
    WHO_Region = Column(String)
    Date_Updated = Column(Date)
    Total_Vaccinations = Column(Integer)
    Persons_Vaccinated_Plus1_Dose = Column(Integer)
    First_Vaccine_Date = Column(Date)
    Persons__Booster_Add_Dose = Column(Integer)
    Vax_ID = Column(Integer, primary_key=True)

In [24]:
countries_df = LoadCountryData()
countries_df.head()

          country             who_region
0     Afghanistan  Eastern Mediterranean
1         Albania                 Europe
2         Algeria                 Africa
3  American Samoa        Western Pacific
4         Andorra                 Europe

In [37]:
# Create dataframe for Cases 
cases_df = LoadCaseData()
cases_df.head().to_dict("records")

[{'country': 'Global',
  'who_region': 'N/A',
  'cases_cumulative_total': 769369823,
  'new_cases_last_7_days': 34812,
  'deaths_cumulative_total': 6954336,
  'new_deaths_last_7_days': 147,
  'case_id': 1},
 {'country': 'United States of America',
  'who_region': 'Americas',
  'cases_cumulative_total': 103436829,
  'new_cases_last_7_days': 0,
  'deaths_cumulative_total': 1127152,
  'new_deaths_last_7_days': 0,
  'case_id': 2},
 {'country': 'China',
  'who_region': 'Western Pacific',
  'cases_cumulative_total': 99300923,
  'new_cases_last_7_days': 553,
  'deaths_cumulative_total': 121628,
  'new_deaths_last_7_days': 0,
  'case_id': 3},
 {'country': 'India',
  'who_region': 'South-East Asia',
  'cases_cumulative_total': 44996059,
  'new_cases_last_7_days': 334,
  'deaths_cumulative_total': 531918,
  'new_deaths_last_7_days': 1,
  'case_id': 4},
 {'country': 'France',
  'who_region': 'Europe',
  'cases_cumulative_total': 38997490,
  'new_cases_last_7_days': 0,
  'deaths_cumulative_total': 167985,
  'new_deaths_last_7_days': 0,
  'case_id': 5}]

In [26]:
# Create dataframe for Vaccinations
vaccination_df = LoadVaxData()
vaccination_df.head()

,country,who_region,cases_cumulative_total,new_cases_last_7_days,deaths_cumulative_total,new_deaths_last_7_days,case_id
0,Global,N/A,769369823,34812,6954336,147,1
1,United States of America,Americas,103436829,0,1127152,0,2
2,China,Western Pacific,99300923,553,121628,0,3
3,India,South-East Asia,44996059,334,531918,1,4
4,France,Europe,38997490,0,167985,0,5

In [33]:
country_lowest_total_deaths = cases_df.sort_values(by='deaths_cumulative_total')
country_lowest_total_deaths.head(5)

,country,who_region,cases_cumulative_total,new_cases_last_7_days,deaths_cumulative_total,new_deaths_last_7_days,case_id
237,Turkmenistan,Europe,0,0,0,0,238
235,Pitcairn Islands,Western Pacific,4,0,0,0,236
234,Holy See,Europe,26,0,0,0,235
233,Tokelau,Western Pacific,80,0,0,0,234
236,Democratic People's Republic of Korea,South-East Asia,0,0,0,0,237

In [36]:
country_highest_total_deaths = cases_df.sort_values(by='deaths_cumulative_total', ascending=False)
country_highest_total_deaths.head(6)

,country,who_region,cases_cumulative_total,new_cases_last_7_days,deaths_cumulative_total,new_deaths_last_7_days,case_id
0,Global,N/A,769369823,34812,6954336,147,1
1,United States of America,Americas,103436829,0,1127152,0,2
6,Brazil,Americas,37717062,0,704659,0,7
3,India,South-East Asia,44996059,334,531918,1,4
11,Russian Federation,Europe,22980206,2932,399897,43,12
18,Mexico,Americas,7633355,0,334336,0,19